.container {
    width: 100%;
     height: 100%;
     margin-top: 2%;
     background: #fff;
     justify-content: center;
     align-items: center
   }

body {
     margin: 0px;
 }

 .endereco{
    width: 80%;
   
 }
 #cpf{
    width: 140px;
    text-align: center;
} 
#rg{
    width: 140px;
    text-align: center;
}
 #uf{
    width: 50px;
    text-align: center;
}#cep{
    
    width: 100px;
   
}
.celular{
    text-align: center;
    width: 140px;
   
}

#bordarDiv{
    
    border-radius: 5px;
    background-color: rgb(182, 233, 229);
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

 #nomeU{
    width: 80%;
   
}
#email{
width: 80%;
    
   
}

#data{
    text-align: center;
    width: 140px;
        
       
    }
#visualizar{
    margin-top: 40px;
}
.form-group{
    margin-top:25px;
    margin-left: 10px;
  
}
#file{
    width: 180px;
    
}
#btnEnvia{
    
    width: 100px;
    margin-bottom: 2%;

   
}
#img{
    src: "imgUser/userDefault.jpg";
   margin-left: 1%;
    background-color: rgb(182, 233, 229);
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}


